:root {
    --bg: #0D1117;
    --border-color: #30363d;
    --text-color: #c9d1d9;
    --text-color-hover: #f0f6fc;

    --low-bg: #010409;
    --low-text-color: #30363d;

    --high-bg: #161B22;
    --high-bg-hover: #161B22;
    --high-border-color: #444c56;
    --high-text-color: #f0f6fc;
    --high-text-color-hover: #c9d1d9;

    --higher-bg: #30363d;
    --higher-border-color: #444c56;
    --higher-text-color: #ffffff;
}

@media (prefers-color-scheme: light) {
    :root{
        --bg: #FFFFFF;
        --border-color: #d0d7de;
        --text-color: #24292f;
        --text-color-hover: #2e353d;

        --low-bg: #f6f8fa;
        --low-text-color: #30363d;

        --high-bg: #f6f8fa;
        --high-bg-hover: #f6f8fa;
        --high-border-color: #d0d7de;
        --high-text-color: #24292f;
        --high-text-color-hover: #2e353d;

        --higher-bg: #eeeeee;
        --higher-border-color: #d0d7de;
        --higher-text-color: #171b1f;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: var(--bg);
    color: var(--text-color);
    border-color: var(--border-color);
}

p {
    margin: 0;
}

a:link, a:visited {
    color: unset;
    text-decoration: unset;
}

#vertical-center {
    display: flex;
    /* padding-left: 5px;
    padding-right: 5px; */
    flex-grow: 2;
    margin-bottom: 30px;
    margin-top: 30px;
}

#header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background: var(--high-bg);
    color: var(--high-text-color);
}

#header li:hover {
    color: var(--text-color-hover)
}

#footer {
    background: var(--high-bg);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}

li:hover {
    color: var(--high-text-color-hover);
}

nav.h-menu {
    flex-grow: 4;
    white-space: nowrap;
    margin-right: 20px;
}

nav.h-menu>ul {
    text-align: center;
}

nav.h-menu>ul>li {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

nav.v-menu>ul {
    list-style-type: none;
    padding: 0;
}

nav.v-menu>ul>li {
    padding: 5px;
    padding-left: 20px;
    display: block;
}

nav.v-menu>ul>li:hover {
    background-color: var(--high-bg-hover);
}

nav.v-menu>ul>li>a {
    display: block;
    width: 100%;
}

p.footer {
    margin: 5px;
}

.dark-bg {
    background-color: var(--high-bg);
    border-color: var(--high-border-color);
}

.box-title {
    margin: 0;
    padding: 10px;
    padding-left: 10px;
    color: var(--high-text-color);
    background-color: var(--high-bg);
}

.boxed {
    margin: 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
}

.vl {
    border-right: 2px solid var(--border-color);
}

div.content {
    padding-top: 0px;
    padding: 20px;
}

.floating-container {
    margin-left: 30px;
}

.column-left {
    flex: 20%;
}

.column-right {
    flex: 80%;
}

.inline {
    display: inline-block;
}

div .title {
    text-align: left;
    font-size: 69;
    width: 100%;
}

.logo {
    margin: 10px;
    max-width: 75px;
    max-height: 75px;
}

form {
    all: inherit;
}

.contact-form {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.contact-form>div {
    margin-bottom: 20px;
}

.contact-form label {
    margin-left: 5px;
}

.col-half-left {
    float: left;
    width: 45%;
}

.col-half-right {
    float: right;
    width: 45%;
}

.col-full {
    display: inline-block;
    width: 100%;
}

input, input[type=date], select, textarea{
    margin-top: 4px;
    padding: 10px;
    font-size: medium;
    color: inherit;
    background-color: var(--low-bg);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

input[type=checkbox] {
    width: unset;
}

::placeholder {
    color: var(--low-text-color);
}

button {
    color: inherit;
    font-weight: bold;
    border: 1px solid var(--high-border-color);
    padding: 10px;
    border-radius: 4px;
    background-color: var(--high-bg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

button:hover {
    color: var(--higher-text-color);
    background-color: var(--higher-bg);
    border-color: var(--high-border-color);
}

.contact-form .radio {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.radio>div {
    text-align: center;
}

input[type=radio] {
    margin: 0%;
    padding: 0%;
}

img.shop {
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
}

#categories {
    margin: 10px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#categories>div {
    display: inline;
}

#shop tr>td {
    padding: 10px;
    text-align: justify;
}

#shop>tbody:nth-child(even) {
    background-color: var(--high-bg);
}

.puff-cat>span:first-child {
    margin-top: 0px;
}

.puff-cat>span {
    text-align: center;
    display: block;
    margin-bottom: 6px;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: var(--high-bg);
}

.puff-cat>span:last-child {
    display: block;
    width: fit-content;
    margin-bottom: 0px;
}

.puff-price{
    
}

.puff-price>span {
    font-weight: bold;
    display: block;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    display: block;
    width: fit-content;
}

input:invalid {
    color: red;
}