body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0D1117;
    color: #c9d1d9;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

p {
    margin: 0;
}

a:link, a:visited {
    color: unset;
    text-decoration: unset;
}

#vertical-center {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 2;
    margin-bottom: 30px;
    margin-top: 30px;
}

#header{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: #f0f6fc;
}

#footer {
    text-align: center;
    padding: 20px;
}

nav.h-menu {
    flex-grow: 4;
    white-space: nowrap;
    margin-right: 20px;
}

nav.h-menu > ul {
    text-align: center;
}

nav.h-menu > ul > li {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

nav.h-menu > ul > li:hover {
    color: #afb5bb
}

nav.v-menu > ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

nav.v-menu > ul > li {
    margin-bottom: 10px;
}

nav.v-menu > ul > li:hover {
    color: #f0f6fc;
}

p.footer {
    margin: 5px;
}

.dark-bg {
    background-color: #161B22;
    border-color: #444c56;
}

.box-title {
    margin: 0;
    padding: 10px;
    padding-left: 10px;
    color: #f0f6fc;
    background-color: #161B22;
}

.boxed {
    margin: 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: #30363d;
}

.vl {
    border-right: 2px solid #30363d;
}

div.content {
    padding-top: 0px;
    padding: 20px;
}

.floating-container {
    margin-left: 30px;
}

.column-left {
    flex: 20%;
}

.column-right {
    flex: 80%;
}

.inline {
    display: inline-block;
}

div .title{
    text-align: left;
    font-size: 69;
    width: 100%;
}

.logo {
    margin: 10px;
    max-width: 75px;
    max-height: 75px;
}

div.item-list tr {
    border-bottom: 3px solid #30363d;
}

div.item-list img {
    max-width: 100px;
}

form {
    margin: 0;
    padding: 0;
}

.contact-form {
    margin-left: 20%;
    margin-right: 20%;
}

div.contact-form form label, select{
    width: 100%;
    display: block;
}

div.contact-form form input, div.contact-form form label, textarea, select {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    display: block;
}

div.contact-form form div input, div.contact-form form div label {
    width: 85%;
    margin: 0;
}

div.contact-form div {
    width: 32.75%;
    margin-left: 15%;
    margin-right: 15%;
}

div.contact-form div:nth-child(2n) {
    margin-left: 0;
}

div.contact-form div:nth-child(2n) input, div.contact-form div:nth-child(2n) label {
    margin-left: 28.25%;
}

div.contact-form div:nth-child(2n+1) {
    margin-right: 0;
}

div.inline.radio {
    margin-left: 15% !important;
    width: 100%;
}

.radio input, .radio label {
    display: inline-block !important;
    width: min-content !important;
    margin: 0% !important;
    margin-left: 5% !important;
}

div.contact-form button {
    margin-left: 15%;
    margin-top: 2%;
}

img.shop {
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
}